@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap);
.K-lfNHA7Ufj36JT1SS_lf {
  padding: 10px 20px 10px 20px;
  font-size: 16px;
  border-style: none;
  text-align: center; }

@keyframes _2zjDaDakEuquLUJO9sONpa {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.sJxUVmDZdw50lk_YYIU7j {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  -webkit-animation: _2zjDaDakEuquLUJO9sONpa 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: _2zjDaDakEuquLUJO9sONpa 2s;
  /* Firefox < 16 */
  -ms-animation: _2zjDaDakEuquLUJO9sONpa 2s;
  /* Internet Explorer */
  -o-animation: _2zjDaDakEuquLUJO9sONpa 2s;
  /* Opera < 12.1 */
  animation: _2zjDaDakEuquLUJO9sONpa 2s; }
  .sJxUVmDZdw50lk_YYIU7j:hover {
    cursor: pointer;
    background-color: #f7f7f7; }

._1vcr5Tal3u8kOT_LoLPMQ7 {
  padding-left: 20px; }

._3rSll9Ori-htnmDaZLvNfl {
  color: grey;
  padding-right: 20px; }

.X0N6p-LkVMUTIpKwj2LyV {
  min-width: 50px;
  min-height: 50px; }

@media (max-width: 480px) {
  .sJxUVmDZdw50lk_YYIU7j {
    max-height: 60px; }
  ._1vcr5Tal3u8kOT_LoLPMQ7 {
    padding-left: 20px;
    max-height: 60px;
    text-overflow: ellipsis;
    white-space: pre;
    font-size: 12px; }
  ._3rSll9Ori-htnmDaZLvNfl {
    font-size: 12px;
    min-width: 55px;
    max-width: 60px; }
  .X0N6p-LkVMUTIpKwj2LyV {
    min-width: 25px !important;
    max-width: 25px !important;
    min-height: 25px !important;
    max-height: 25px !important; } }

* {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0; }

* {
  font-family: 'Roboto', 'sans serif';
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #f7f7f7; }

a {
  text-decoration-line: none;
  color: #ffffff; }

._13IBBD-c10lpDX5Cx8Ddqb {
  font-weight: 400;
  font-size: 24px;
  margin-top: 10px; }
  ._13IBBD-c10lpDX5Cx8Ddqb span {
    color: grey;
    font-weight: 300; }

._1_P0jWnr9P8KbAlGpLoSD8 {
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid #e1e4e8;
  align-items: center; }

._3dw4_2_kH-scykKXcXluFZ {
  background: #2cbe4e;
  padding: 3px 6px;
  color: #ffffff;
  display: flex;
  width: 65px;
  align-items: center; }

.-jnXChe1iZx07l7U3NRjo {
  padding-left: 10px;
  font-size: 12px;
  font-weight: bold;
  color: #586069 !important; }

._1OLda4PJWC8GvqKjV-lf47 {
  font-size: 12px;
  color: grey;
  padding-left: 5px; }

._1RbjjqyDH02az8hoVjoCsX {
  margin-top: 20px;
  position: relative;
  padding-left: 65px;
  display: flex;
  align-items: flex-start;
  flex-direction: column; }

._2GZz4xBd_IXrhGxYIdBmZv {
  position: absolute;
  left: 52px;
  top: 14px;
  color: #c9d9e8; }

._1pBYyLbGevSs2tlaC7uAXq {
  font-size: 14px;
  font-weight: bold;
  color: #586069 !important; }

._3GYY6S2Z1-PmqoIgWM_hxF {
  font-size: 12px;
  color: grey;
  padding-left: 5px; }

.JfIMAW3O728D4W8InCBwa {
  max-height: 744px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  max-width: 970px;
  margin: 0 auto; }
  .JfIMAW3O728D4W8InCBwa ._2lg5DbPeWUMXxzgOpA9HFF {
    display: block;
    max-width: 500px;
    max-height: 400px;
    inline-size: auto; }
  .JfIMAW3O728D4W8InCBwa ._13DEwQ8FxGQtzgcrYQ5RD {
    padding-left: 30px;
    color: #1c1c1c;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px; }

.JIzGuMrWaJnwJvtyxj75i {
  padding-top: 10px;
  max-width: 970px;
  margin: 0 auto; }
  .JIzGuMrWaJnwJvtyxj75i .gKYDiVPy1OlQoHgxgjHim {
    padding-right: 15px !important;
    color: #d2d2d2 !important; }
    .JIzGuMrWaJnwJvtyxj75i .gKYDiVPy1OlQoHgxgjHim._26Tc2kOxRMQ-eylVkbvMYl {
      color: #010101 !important; }

.BWB4CFqryEzsafnCu19EH {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  align-items: center;
  height: 40px; }

._2jJ0u2IP9EFPvnZBY8TOVf {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #24292e;
  color: #ffffff;
  padding: 30px 0; }

._2fLcD8ryI1jWx26Utl1HgB {
  width: 60px;
  height: 40px;
  background: url(/_next/static/images/gitlogo-6f544d37d896ecb03d6a25e924df6afd.png) bottom right no-repeat;
  background-size: contain; }

._2a_plItHO16c59wIwMCSvx {
  width: 100vw;
  height: 100%; }

._3xqyrH14vpQPdPdkv21GGO {
  margin: 0 auto;
  max-width: 1000px;
  background: #ffffff; }

.NhWg3wrkjBntoI1ymaaHM {
  display: flex;
  justify-content: center;
  background: #f7f7f7;
  padding-bottom: 20px; }

._26Tc2kOxRMQ-eylVkbvMYl {
  background-color: #1976d2 !important; }

._3OTRj7cXo7rqGkViAe7-QD {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto; }

._1UUknJgo4eYv1kXqtQjddS {
  background-size: cover !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background-size: cover;
  border-radius: 50%; }

._3Qq-uBj6FvSn7JNUn0Cb5O {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 0;
  padding-left: 20px;
  color: #586069;
  flex-direction: row;
  background-color: #c9d9e8;
  width: 100%;
  border-bottom: 1px solid #d1d5da;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin-top: 7px; }

._2q8zl7qJI59LE-rO5CWLq5 {
  width: 1000px;
  margin: 0 auto; }

._1s_UOdFxuK0GKll0UEZuUt {
  margin-top: 20px; }

._2gtQh16urWoWz3k5HHktNM {
  margin: 10px 10px !important;
  border-radius: 50% !important;
  min-width: 30px !important;
  padding: 4px 4px !important;
  min-height: 30px !important;
  font-size: 12px !important;
  max-width: 30px !important; }

@media (max-width: 480px) {
  ._2jJ0u2IP9EFPvnZBY8TOVf h1 {
    font-size: 20px; }
  .BWB4CFqryEzsafnCu19EH {
    flex-direction: column;
    height: 100%; }
    .BWB4CFqryEzsafnCu19EH ._2Z3QeIiN1fRdNjIZJxXPQl {
      margin-top: 10px !important; }
  ._2q8zl7qJI59LE-rO5CWLq5 {
    width: 350px; }
  ._1s_UOdFxuK0GKll0UEZuUt {
    font-size: 12px;
    max-width: 250px; }
  ._3Qq-uBj6FvSn7JNUn0Cb5O {
    max-width: 250px; }
  ._13IBBD-c10lpDX5Cx8Ddqb {
    padding-left: 20px; }
  ._1_P0jWnr9P8KbAlGpLoSD8 {
    padding: 20px 0 20px 20px !important;
    flex-direction: column;
    align-items: flex-start !important; } }


/*# sourceMappingURL=styles.chunk.css.map*/