
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
        -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
    &:hover {
        cursor: pointer;
        background-color: #f7f7f7;
    }
}

.text {
    padding-left: 20px;
}

.time {
    color: grey;
    padding-right: 20px;
}
.image {
    min-width: 50px;
    min-height: 50px;
}

@media (max-width: 480px) {
    .block {
     max-height: 60px;
    }
    .text {
        padding-left: 20px;
        max-height: 60px;
        text-overflow: ellipsis;
        white-space: pre;
        font-size: 12px;
    }
    .time {
        font-size: 12px;
        min-width: 55px;
        max-width: 60px;
    }
    .image {
        min-width: 25px!important;
        max-width: 25px!important;
        min-height: 25px!important;
        max-height: 25px!important;
    }
  }