
* {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
* {
    font-family: 'Roboto', 'sans serif';
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #f7f7f7;
}

a {
    text-decoration-line: none;
    color: #ffffff;
}

.titleIssue {
  font-weight: 400; font-size: 24px; margin-top: 10px; 
  span {
    color: grey;
    font-weight: 300;
  }
}

.statusIssue {
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid #e1e4e8;
  align-items: center;
}

.outlineIcon {
  background: #2cbe4e;
  padding: 3px 6px;
  color: #ffffff;
  display: flex;
  width: 65px;
  align-items: center;
}

.login {
  padding-left: 10px;
  font-size: 12px;
  font-weight: bold;
  color: #586069!important;
}

.moment {
  font-size: 12px;
  color: grey;
  padding-left: 5px;
}

.imageWrapper {
  margin-top: 20px;
  position: relative;
  padding-left: 65px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.arrowBack {
  position: absolute;
  left: 52px;
  top: 14px;
  color: #c9d9e8;
}

.commentBlock {
  font-size: 14px;
  font-weight: bold;
  color: #586069!important;
}

.commentMoment {
  font-size: 12px;
  color: grey;
  padding-left: 5px;
}

.aboutCompany {
  max-height: 744px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  max-width: 970px;
  margin: 0 auto;
  .aboutImg {
      display: block;
      max-width: 500px;
      max-height: 400px;
      inline-size: auto;
  }
  .textAbout {
      padding-left: 30px;
      color: #1c1c1c;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
  }
}
.breadcrumbs {
  padding-top: 10px;
  max-width: 970px;
  margin: 0 auto;
  .breadcrumbsLinks {
    padding-right: 15px!important;
    color: #d2d2d2!important;
    &.active {
      color: #010101!important;
    }
  }
  
}

.block { 
  display: flex;
  justify-content: center;
  padding: 20px 0;
  align-items: center;
  height: 40px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #24292e;
  color: #ffffff;
  padding: 30px 0;
}

.gitLogo {
    width: 60px;
    height: 40px;
    background: url('../public/gitlogo.png') bottom right no-repeat;
    background-size: contain;
}

.wrapper {
  width: 100vw;
  height: 100%;
}

.content {
  margin: 0 auto;
  max-width: 1000px;
  background: #ffffff;
}

.controls {
  display: flex;
  justify-content: center;
  background: #f7f7f7;
  padding-bottom: 20px;
}

.active {
  background-color: #1976d2!important;
}

.issueWrapper {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
}

.image {
  background-size: cover!important;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background-size: cover;
  border-radius: 50%;
}

.person {
  position: relative;
  display: flex;
    align-items: center;
    padding: 10px 0;
    padding-left: 20px;
    color: #586069;
    flex-direction: row;
    background-color: #c9d9e8;
    width: 100%;
    border-bottom: 1px solid #d1d5da;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-top: 7px;
}

.error {
  width: 1000px;
  margin: 0 auto;
}
.body {
  margin-top: 20px;
}

.pagination {
  margin: 10px 10px!important;
  border-radius: 50%!important;
  min-width: 30px!important;
  padding: 4px 4px!important;
  min-height: 30px!important;
  font-size: 12px!important;
  max-width: 30px!important;
}

@media (max-width: 480px) {
  .header {
    h1 {
      font-size: 20px;
    }
  }
  .block {
    flex-direction: column;
    height: 100%;
    .searchButton {
      margin-top: 10px!important;
    }
  }
  .error {
    width: 350px;
  }
  .body {
    font-size: 12px;
    max-width: 250px;
  }
  .person {
    max-width: 250px;
  }
  .titleIssue {
    padding-left: 20px;
  }
  .statusIssue {
    padding: 20px 0 20px 20px!important;
    flex-direction: column;
    align-items: flex-start!important;
  }
}